<style>
  .inp-search {
    border-radius: 25px;
    padding: 0.5rem 1rem;
  }
  .btn-search {
    background-color: #fe434d;
    color: #ebebeb;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .btn-search:hover {
    background-color: #e12f3d;
    color: #ffffff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/listing">
      <i class="fa-solid fa-compass"></i>
    </a>
    
    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Single collapsible container -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left side navigation -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listing">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chatbot">Chatbot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Add Your Stay</a>
        </li>
      </ul>
      
      <!-- Search form -->
      <form class="d-flex me-3">
        <input class="form-control me-2 inp-search" type="search" placeholder="Search Destination">
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search
        </button>
      </form>
      
      <!-- Right side navigation -->
      <ul class="navbar-nav">
        <% if(typeof currentUser !== 'undefined' && currentUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i> <%= currentUser.username %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <!-- <li><a class="dropdown-item" href="/profile">Profile</a></li> -->
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>